.about{
    >h2{
        margin-bottom: 16px;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 4px;
    }

    >p{
        color: #fff;
        text-align: justify;
        font-size: 14px;
        >a{
            color: #4271ffed;
        }
    }

}